In [0]:
import pandas as pd 
import numpy as np

In [4]:
# Load Movies Metadata
metadata = pd.read_csv('/content/drive/My Drive/3405_6663_bundle_archive/movies_metadata.csv', low_memory=False)

# Print the first three rows
metadata.head(3)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0

[3 rows x 24 columns]